* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-museo-moderno: MuseoModerno;
}

/* HEADER CONTENT */
header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: sticky;
    top: 0;
}
nav {
    margin-right: 2rem;
}
ul {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 2rem 0;
    text-decoration-line: none;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/* END HEADER CONTENT */

/* /////////////////////////////////////////////////// */

/* MAIN CONTENT */

body {
    font-family: var(--font-museo-moderno), sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000000;
    color: #ffffff;
}
main {
    width: 60vw;
    margin: 0 auto;
}
h2 {
    font-size: 4rem;
    color: #ffffff;
}
p {
    font-size: 1rem;
    color: #ffffff;
    margin-top: -4rem;
}

.section-saturn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section-rings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section-moons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.rings-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}
.text-center {
    text-align: center;
    padding-bottom: 8rem;
    margin-top: -8rem;
}
.moons-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.saturn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-top: -8rem;
}
.p-size {
    font-size: 1rem;
}
.footer-section {
    text-align: center;
    margin: 1rem 0;
}